<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>kontak</title>

    <link href="../assets/style/css/bootstrap.css" rel="stylesheet">
    <link href="../assets/style/css/bootstrap.min.css" rel="stylesheet">
    <link href="../assets/style/css/carousel.css" rel="stylesheet">

</head>

<body>

    <div class="navbar-wrapper">
        <div class="container"> 

            <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">korean food ajeeb</a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li><a href="../index.html">Home</a></li>
                            <li><a href="menu.html">Menu</a></li>
                            <li class="active"><a href="kontak.html">Kontak</a></li>
                        </ul>
                    </div>
                </div>
            </nav>

        </div>
    </div>

    <br><br><br><br>

    <br>

    <div class="container">
        <h1>Pemesanan</h1>
        <form>
            <div class="form-group">
                <label for="exampleInputEmail1">Nama Pemesan</label>
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Nama Pemesan">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Email Pemesan</label>
                <input type="email" class="form-control" id="exampleInputPassword1" placeholder="email@gmail.com">
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Tanggal Pesan</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="tanggal/bulan/tahun">
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Jam Pesan</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="cth : 07:00">
                    </div>
                </div>
            </div>
            <center><button type="submit" class="btn btn-default">Submit</button></center>
        </form>
    </div>

    <br></br>
    <br>
    <div class="container">
        <center>
        <h2>Lokasi Kami</h2>
            <div class="col-lg-1924">
                <div class="thumbnail">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3967.14987466154!2d106.61369311744383!3d-6.110514500000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e6a015362d95487%3A0xfc638dbb058f69db!2sDIMSUM%20AJEEB-KOREAN%20FOOD!5e0!3m2!1sid!2sid!4v1685276961881!5m2!1sid!2sid"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </center>
    </div>
    </br>


    <!-- FOOTER -->
    <br><br>
    <footer>
        <div class="container">
            <p class="pull-right"><a href="#">Back to top</a></p>
            <p>&copy; 2023 Korean Food Ajeeb Gempol Sari &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
        </div>
    </footer>

    <script src="../assets/style/js/bootstrap.min.js"></script>
    <script src="../assets/style/js/jquery.min.js"></script>
    <script src="../assets/style/js/holder.min.js"></script>
    <script src="../assets/style/js/ie10-viewport-bug-workaround.js"></script>
</body>

</html>
